apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rtvt-lipsync-storage
  labels:
    app: rtvt-lipsync
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi  
